.wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.mission-container {
  text-align: center;
  margin: 20px;
}

.mission-container h2 {
  font-size: 1.5em;
}

.mission-container p {
  font-size: 1.2em;
}